<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">{{#link-to 'index' id="logo-container" class="brand-logo"}}City Community{{/link-to}}
  </div>
</nav>
{{outlet}}
<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">City Community</h5>
        <p class="grey-text text-lighten-4">
          This community is a non-profit organization that is working to crowdsource
          improvements to the public transportation infrastructure of a city. Our latest
          project is to collect donations from citizens who wish to contribute to this project.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://ahmethakanergun.com">Ahmet Hakan Ergun</a>
    </div>
  </div>
</footer>
